
body {
    background-color: #638212 ;
}
header {
    padding: 50px 0px 50px 0px;
}

#buttonSearchRecipe, button  {
    
    background-color: #FFBF07;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #264653;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 20px ;
    max-width: 300px;
    padding: 0px 30px 0px 30px;

}
select {
    background-color: #FFF3DF;
    border: none;
    padding: 4px;
    border-radius: 10px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #264653;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

option {
border: none;

}

/* Flexbox----------------------------------------------------------------------- */
.flex {
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.center{
    justify-content: center;
}

/* Components ------------------------------------------------------------------------- */
.logo {
    justify-content: center;
  
}
.logo img {
    max-height: 75px;
    width: auto;
}
.menu1 {
    justify-content: space-evenly;
    align-items: center ;
}
.menu1 a {
    color: #FFF3DF;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;   
}
.img-home{
    justify-content: center;
}
.img-home img {
    min-width: 200px;
    max-height: 300px;
}
.form-home{
    flex-direction: column;
}

footer {
    color: #FFF3DF;
    text-align: center;
    margin-top: 40px;
    padding: 15px;
}


/* Java afects ----------------------------------------------------------------------------- */
#recipe-container {
    background-color: #FFF3DF;
    margin-bottom: 40px;
    border-radius: 10px;
}
#recipe-container img{
   max-width: 100%;
   height: auto;
}
#recipe-container> :first-child {
    padding-left:0px;
}
.recipe-text {
    padding:30px;
}



/* Fonts --------------------------------------------------------------------------------- */

h1 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #FFBF07;
    font-size: 64px;
    line-height: 72px;
    font-weight:700;
}
h2 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #FFBF07;
    font-size: 56px;
    line-height: 72px;
    font-weight: 600;
}

h3 {
    font-family: "Libre Baskerville", serif;
    color: #264653;
    font-size: 44px;
    line-height: 62px;
    font-weight: normal;
}

h4 {
    font-family: "Libre Baskerville", serif;
    color: #264653;
    font-size: 36px;
    line-height: 44px;
    font-weight: normal;
    margin-top: 20px;
}

h5 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #264653;
    font-size: 21px;
    line-height: 29px;
    font-weight: normal;
}

p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #264653;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
span {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #264653;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
.form-home  h4, span{
    color: #FFF3DF;
}

td, th {
    
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #264653;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    padding: 5px 15px 2px 15px;
}

th {
    font-weight: bold;
}
td{background-color: #f5e6cd;}

.form-home > h1, 
.form-home > h4 {

    text-align: center;
}





/* Breakpoints ------------------------------------------------------------------------------------- */
/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 
    h1 {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        color: #FFBF07;
        font-size: 54px;
        line-height: 60px;
        font-weight:700;
    }
    h2 {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        color: #FFBF07;
        font-size: 46px;
        line-height: 52px;
        font-weight: 600;
    }
    h3 {
        font-family: "Libre Baskerville", serif;
        font-size: 34px;
        line-height: 52px;
        font-weight: normal;
    }
    h4 {
        font-family: "Libre Baskerville", serif;
        font-size: 26px;
        line-height: 34px;
        font-weight: normal;
        margin-top: 20px;
    }
    

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .img-home img {
        max-height: 300px;
    }
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .img-home img {
        max-height: 400px;
    }
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        color: #FFBF07;
        font-size: 60px;
        line-height: 67px;
        font-weight:700;
    }
    h2 {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        color: #FFBF07;
        font-size: 56px;
        line-height: 72px;
        font-weight: 600;
    }
    h3 {
        font-family: "Libre Baskerville", serif;
        font-size: 44px;
        line-height: 62px;
        font-weight: normal;
    }
    h4 {
        font-family: "Libre Baskerville", serif;
        font-size: 30px;
        line-height: 38px;
        font-weight: normal;
        margin-top: 20px;
    }
    .img-home img {
        max-height: 500px;
    }


}

/* X-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    h1 {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        color: #FFBF07;
        font-size: 67px;
        line-height: 75px;
        font-weight:700;
    }

    h4 {
        font-family: "Libre Baskerville", serif;
        font-size: 35px;
        line-height: 42px;
        font-weight: normal;
        margin-top: 23px;
    }
    .img-home img {
        max-height: 600px;
    }


 }